{% extends 'base.html' %}
 
{% block head_title %} 
TO DO LIST
{% endblock head_title %}
 
{% block content %}
<div class = "container">
</br>
<form method="POST">
{% csrf_token %}
  <div class="mb-3">
  <input type="text" class="form-control" name="task" placeholder="New Task?">
   
  <button type="submit" class="btn btn-primary">Submit</button>
</br></br>
</form>
    <table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Task</th>
      <th scope="col">Done</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
{% for obj in all_tasks %}
    {% if obj.done %}    
        <tr class="table-success">
          <th>{{ obj.task}}</th>
          <td>Completed</td>
          <td>Edit</td>
          <td>delete</td>
        </tr>
    {% else %}    
        <tr>
          <th>{{ obj.task}}</th>
          <td>Not Completed</td>
          <td>Edit</td>
          <td>delete</td>
        </tr>
    {% endif %}
{% endfor %}
  </tbody>
</table>
 </div> 
{% endblock content %}
